



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <fieldset>
        <legend> GET </legend>
        <form action="/user" method="GET">
            <label for="name">Name:</label>
            <input type="text" placeholder="Name" name="name" id="name">
             <br>
             <br>
            <label for="email">Email:</label>
            <input type="email" placeholder="email" name="email" id="email">
            <br>
            <br>
            <label for="pass">Password:</label>
            <input type="password" placeholder="Password" name="Password" id="pass">
            <br>
            <br>
            <button type="submit"> Submit</button>
        </form>
    </fieldset>


    <fieldset>
        <legend> POST </legend>
        <form action="/user" method="POST">
            <label for="name">Name:</label>
            <input type="text" placeholder="Name" name="name" id="name">
             <br>
             <br>
            <label for="email">Email:</label>
            <input type="email" placeholder="email" name="email" id="email">
            <br>
            <br>
            <label for="pass">Password:</label>
            <input type="password" placeholder="Password" name="Password" id="pass">
            <br>
            <br>
            <button type="submit"> Submit</button>
        </form>
    </fieldset>
</body>
</html>